.header-nav{
	background: rgba(255,255,255,1);
    background-image: url(../img/webimg/logo_guide.png);
    background-repeat: no-repeat;
    background-position: 32px 20px;
    z-index: 1000;
}

.questions-wrapper{
	
	background:url(../img/webimg/bg_top.png) ;
	position: relative;
	background-repeat: repeat-y;
	margin-top: 120px;
	overflow:hidden;
	text-align: center;
}
.q_bg{
	height: 468px;
	overflow: hidden;
	background: url(../img/webimg/Banner1.jpg);
	background-position-y:center ;
}
.q_bg>img{
	width: 100%;
}
.list-wrapper{
	text-align: center;
	padding: 10px 0 70px 0;
}
.list-wrapper>div{
	display: inline-block;
	text-align: initial;
	vertical-align: top;
	
}
.list{
	width: 1200px;
}
.list .title{
	text-align: center;
	color: #226EC8;
	font-size: 32px;
	padding: 36px 0;
	background-image:url("../img/webimg/pic_lan_long.png") ;
	background-size:1130px ;
	background-repeat:no-repeat ;
	background-position: 34px 80px;
}
.item-list{
	padding-bottom: 60px;
	margin-top: 24px;
	position: relative;
}
.item-list li{
	width: 272px;
	display: inline-block;
	margin: 0 12px;
	overflow: hidden;
	vertical-align: top;
}
.item-list li>div{
	padding-bottom: 24px;
	margin: 18px 0 36px 0;
	background: #ffffff;
}
.news-img-wrapper{
	height: 153px;
	overflow: hidden;
}
.news-img-wrapper img{
	width: 100%;
}
.news-title{
	font-size: 16px;
	line-height: 24px;
	color: #333;
	padding: 0 8px;
	margin-top: 16px;
}
.news-info{
	color: #999999;
	line-height: 24px;
	font-size: 14px;
	padding: 0 8px;
	margin-top: 16px;
}
.news-time{
	padding: 24px 8px 0 8px;
}
.news-time img{
	vertical-align: text-bottom;
}
.news-time span{
	color: #999999;
	font-size: 14px;
}
.get-detail{
	background: url(../img/webimg/btn_ry_b.png);
	background-size:158px 42px ;
	background-repeat:no-repeat ;
	background-position:center ;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #ffffff;
	margin: 24px 0 0 0;
	cursor: pointer;
}
.load-more{
	width: 282px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	margin: 50px auto;
	background: url(../img/webimg/bg_add_more_b.png);
	background-repeat: no-repeat;
	background-position: center;
	font-size: 18px;
	color: #759FE6;
	cursor: pointer;
}
